@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  background-size: cover;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}


main {
  flex-grow: 1;
  height: 1px;
}

#clock {
  font-size: 10em;
}

.offcanvas-end {
  top: 60vh;
  bottom: 10vh;
  width: 17vw;
}

.offcanvas-start {
  top: 10vh;
  bottom: 60vh;
  width:fit-content;
}

.st {
  text-decoration: line-through;
}

.vh-5 {
  height: 5vh;
}

.vh-21 {
  height: 21vh
}


.btn {
  padding: 8px;
  border:none;
}

.object-fit{
  object-fit: cover;
  height: 8vh;
  width: auto
}


